{% extends 'layout.html' %}
{% block title %} Ingreso documento {% endblock %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3">


<form action="/nuevo_documento" method="POST">
	<div class="form-group">
		<label>ID documento</label>
		<input type="text" class="form-control" name="id_doc" required>
	</div>
	<div class="form-group">
		<label>tipo de documento</label>
		<input type="text" class="form-control" name="tipo_doc" required>
	</div>
	<div class="form-group">
		<label>Descripcion del documento</label>
		<input type="text" class="form-control" name="desc_prod" required>
	</div>
	<div class="form-group">
		<label>fecha</label>
		<input type="text" class="form-control" name="fecha" required>
	</div>
	<div class="form-group">
		<label>prioridad</label>
		<input type="text" class="form-control" name="prioridad" required>
	</div>
	<div class="form-group">
		<label>direcion del documento</label>
		<input type="text" class="form-control" name="dir_doc" required>
	</div>
	<div class="form-group">
		<label>matricula del trasnporte</label>
		<input type="text" class="form-control" name="matricula" required>
	</div>
	<div class="form-group">
		<label>nombre del chofer</label>
		<input type="text" class="form-control" name="chofer" required>
	</div>
	</div>
	<div class="form-group">
		<label>empresa</label>
		<input type="text" class="form-control" name="empresa" required>
	</div>
	
	<div class="form-group">
		<button class="btn btn-primary">Guardar</button>
	</div>


		</form>
	</div>
	</div>
	</div>
{% endblock %}
