{% extends 'layout.html' %}
{% block title %} Tabla de Usuarios {% endblock %}
{% block content %}
<div class="w3-container">
	<div clas="w3-row">
		<div class="w3-container w3-threequarter">
  			<h2>Tabla de Usuarios</h2>
  		</div>
  		<div class="w3-container w3-quarter w3-padding-16">
    		<form action="/">
		    	<input type="text" placeholder="Search.." name="search">
		      	<button type="submit"><i class="fa fa-search"></i></button>
		    </form>
  		</div>
  	</div>
  <table class="w3-table-all">
    <thead>
      <tr class="w3-black">
        <th>Rut Usuario</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Fecha Nacimiento</th>
        <th>Correo</th>
        <th>Nivel Acceso</th>
		<th>Fono</th>
      </tr>
    </thead>
    <tr class="w3-hover-green">
      {% for array in provedores %}
      <td>{{ array['rut'] }}</td>
      <td>{{ array['nombre'] }}</td>
      <td>{{ array['apellidos'] }}</td>
      <td>{{ array['fec_nac'] }}</td>
      <td>{{ array['pass'] }}</td>
      <td>{{ array['tipo'] }}</td>
	  <td>{{ array['fono'] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}	