{% extends "base.html" %}
{% block body %}

{% from "_macros.html" import cargar_campos %}

<!-- Content -->
<section>
    <header class="main">
        <h2>{{accion}} Recepcion</h2>
    </header>

    <form id="formBuscarRecpcion" name="formBuscarRecpcion" method="post" action="">
        <table>
            <tr>
                <td>Ingrese ID de la Recepcion:</td>
                <td>{{ cargar_campos(form.recepcionBuscada) }}</td>
                <td><input type="submit" value="buscar"></td>
            </tr>
        </table>
    </form>
</section>

{% endblock %}