{% extends "base.html" %}
{% block body %}

{% from "_macros.html" import cargar_campos %}

<!-- Content -->
<section>
    <header class="main">
        <h2>Datos para Generar Reporte</h2>
    </header>

    <form id="formBuscarRutCli" name="formBuscarRutCli" method="post" action="">
        <table>
            <tr>
                <td>Ingrese Rut:</td>
                <td colspan="3">{{ cargar_campos(form.rutCliente) }}</td>
            </tr>
            <tr>
                <td>Fecha Inicio:</td>
                <td>{{ cargar_campos(form.fechaInicio) }}</td>
                <td>Facha Termino:</td>
                <td>{{ cargar_campos(form.fechaFin) }}</td>
            </tr>
        </table>
        <td><input type="submit" value="Generar Reporte"></td>
    </form>
</section>

{% endblock %}